body{
    margin: 0px;
    padding:0px;
    display: flex;
    background-color: beige;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    justify-items: center;
    flex-direction: column; 
}

h2{
  margin: 50px;
    padding:15px;
    border-radius: 15px;
    display: flex;
    background-color: rgb(124, 158, 147);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
}