.container{
    display: flex;
    max-height: 50px;
    border: 1px solid grey;
    gap: 5px;
    flex-grow: 0;
    justify-content: flex-end;
}
#box1{
    margin-right: auto;
}
.box{
    height: 50px;
    width: 50px;
    background-color: blueviolet;
    font-size: 40pt;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width:575px){
    body{
        flex-wrap: wrap;
    }
}